* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: black;
    padding: 0 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 63%;
    margin: 0 auto ;
}

nav h1 {
    color: white;
    font-size: 4em;
}

.main-heading {
    padding: 50px 0;
    text-align: center;
    font-size: 3.6em;
}

#container {
    width: 67%;
    margin: 0 auto;  
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

a {
    color:rgb(5, 146, 228);
}

.col-1 {
    width: 27%;
    height: 100%;
}

.col-2 {
    width: 68%;
    height: 100%;
}

.profile-block {
    border: 5px solid black;
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

}

.profile-block img {
    height: 150px;
}

.profile-block a {
    font-size: 2em;
}

.profile-block h2 {
    font-size: 2.6em;
}

.feed-block {
    border: 5px solid black;
    height: 180px;
    width: 88%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.feed-block h2 {
    font-size: 2.6em;
}

.likes button {
    margin: 0 0 0 45px;
    background-color: orange;
    border: 5px solid black;
    box-shadow: black 3px 3px;
    padding: 5px 20px;
    font-size: 1.6em;

}

.likes span {
    font-size: 1.4em;
}

.feed-block p {
    font-size: 1.9em;
}