* {
    margin: 0;
    padding: 0;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#nav {
    width: 65%;
    margin: 0 auto 50px auto;
    padding: 0 50px;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
    padding: 20px 0;
}

.actions {
    display: flex;
    padding: 25px 20px;

}

.actions > input {
    width: 400px;
    padding: 0 20px;
    font-size: 1.6em;
}

.actions > button {
    width: 100px;
    background-color: rgb(0, 110, 255);
    box-shadow: 4px 4px black;
    border: 4px solid black;
    color: white;
    font-size: 1.4em;
    text-align: center;
}

#container {
    width: 70%;
    margin: 0 auto;
    height: 800px;
    padding: 30px 0;
    display: flex;
}

.col-1 {
    width: 60%;
    margin: 0 6% 0 0;
}

.content {
    height: 300px;
    margin-bottom: 40px;
    display: flex;
    border: 5px solid black;
}

.word {
    padding: 20px 0 0 20px; 
    margin: 0 40px 0 0;
    text-align: center;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1em;
}

.word h2 {
    font-size: 3em;
}

.word h3 {
    font-size: 2em;
}

.word h4 {
    font-size: 1.4em;
}

.word button {
    background-color: orange;
    padding: 10px 15px;
    font-size: 1em;
    width: 100px;
    margin: 0 auto;
    box-shadow: 4px 4px black;
    border: 4px solid black;
}

.def {
    display: flex;
    align-self: center;
    font-size: 1.9em;
    padding: 0 100px;
}

.def a {
    color:rgb(0, 110, 255)
}

.col-2 {
    width: 29%;
}

.add {
    width: 100%;
    border: 5px solid black;
    padding: 30px;
    height: 200px;
}

.add h2 {
    font-size: 2.7em; 
    margin-bottom: 25px;
}

.add button {
    background-color: seagreen;
    box-shadow: 4px 4px black;
    border: 4px solid black;
    font-size: 2.1em;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}